.order-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 10px;
}

.container {
  padding: 2rem;
}

mat-toolbar {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

mat-list-item.order-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  height: auto;
}

mat-icon {
  margin-right: 10px;
}

button {
  margin-left: auto;
}

mat-toolbar {
  margin-bottom: 20px;
}

mat-table {
  width: 100%;
}

mat-header-cell, mat-cell {
  padding: 16px;
}

button {
  margin-left: auto;
}
