<div class="landing-container">
  <h1>Welcome to Whoosh!</h1>
  <div class="buttons-container">
    <mat-card class="landing-button" routerLink="/customer-login" color="primary">
      <mat-card-header>
        <mat-icon class="person-icon">person</mat-icon>
      </mat-card-header>
      <mat-card-title>Customer</mat-card-title>
    </mat-card>
    <mat-card class="landing-button" routerLink="/driver-login" color="accent">
      <mat-card-header>
        <mat-icon class="delivery-icon">local_shipping</mat-icon>
      </mat-card-header>
      <mat-card-title>Driver</mat-card-title>
    </mat-card>
    <mat-card class="landing-button" routerLink="/admin-login" color="warn">
      <mat-card-header>
        <mat-icon class="admin-icon">admin_panel_settings</mat-icon>
      </mat-card-header>
      <mat-card-title>Admin</mat-card-title>
    </mat-card>
  </div>
</div>